<h2>Polls</h2>
<h4>Polls retrieved from server: {{ pollsList.length }}</h4>

<mat-form-field *ngIf="pollsList.length > 0" appearance="fill">
  <mat-label>Select poll</mat-label>
  <mat-select name="polls" id="polls" (selectionChange)="groupIdSelected($event)">
    <mat-option *ngFor="let poll of pollsList; index as i" [value]="poll.formId">{{ poll.groupId }}</mat-option>
  </mat-select>
</mat-form-field>
<ng-container *ngIf="selectedPoll">
  <ng-container *ngIf="!isLoading; else loading">
    <mat-card *ngFor="let question of selectedPoll.questions; index as i">
      <mat-card-header>
        <mat-card-title>{{ question.question }}</mat-card-title>
      </mat-card-header>
      <mat-divider inset></mat-divider>
      <mat-card-content>
        <div class="flex center">
          <div id="{{question.questionId}}_1" class="poll-chart h-400"></div>
          <div id="{{question.questionId}}_2" class="poll-chart h-auto"></div>
        </div>
        <div class="flex end">
          <span class="total">Total votes: {{ question.total }}</span>
        </div>
      </mat-card-content>
    </mat-card>
  </ng-container>
  <ng-template #loading>
    <div class="flex center h-400"><mat-spinner></mat-spinner></div>
    <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
  </ng-template>
</ng-container>
